#required libraries

In [1]:
import requests
import re
import numpy as np
from bs4 import BeautifulSoup
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [6]:
NAME = []
RATING = []
AREA = []
DISHES = []
APPROX = []
DISC = []

city = ['ahmedabad', 'mumbai', 'pune', 'bengaluru','hyderabad']
for c in city:
    for i in range(1, 16):   # pages 1 to 15
        # URL with f-string
        url = f'https://www.eazydiner.com/restaurants?date=2025-08-21&meal_period=dinner&location={c}&sort=popularity&page={i}'
    
        response = requests.get(url)
        html_code = response.text

        soup = BeautifulSoup(html_code, "html.parser")  # add parser for safety

        title = soup.find_all('div', attrs={"class":"flex align-v-center flex-between"})
        for i in title:
            NAME.append(i.text.strip())
        rating = soup.find_all('tspan')
        for i in rating:
            j = i.text
            if j != '%':
                if j:
                    RATING.append(j)
                else:
                    RATING.append(np.nan)
        area = soup.find_all('div', attrs={'class':"font-12 ellipsis flex listing_res_address__LuVOm"})
        for i in area:
            AREA.append(i.text)
        dishes = soup.find_all('div', class_='font-12 flex flex-between ellipsis listing_cuisine_aprox__3qehk')
        for i in dishes:
            if i:
                DISHES.append(i.text.strip())
            else:
                DISHES.append(np.nan.strip())
        txt = []
        approx = soup.find_all('div', class_='flex align-v-center')
        for i in approx:
            txt.append(i.text)
        for i in txt:
            if re.match("₹ +\d+ [A-Za-z].+", i):
                APPROX.append(i)
            else:
                pass
        discount = soup.find_all('div', class_='ellipsis listing_offer_text__LXKw1')
        for i in discount:
            DISC.append(i.text)

print(len(NAME))
print(len(RATING))
print(len(AREA))
print(len(DISHES))
print(len(APPROX))
print(len(DISC))

675
675
675
675
675
675

In [8]:
data={
    'NAME': NAME,
    'RATING': RATING,
    'AREA': AREA,
    'DISHES': DISHES,
    'APPROX': APPROX,
    'DISC': DISC
}
df = pd.DataFrame(data)
df

,NAME,RATING,AREA,DISHES,APPROX,DISC
0,Bella Aroma4.6,4.6,"Crowne Plaza, Ahmedabad",Cafe₹ 700 for two approx.,₹ 700 for two approx.,30% Off + 25% Off
1,South Leaf - The Food Chain4.4,4.4,"Prahlad Nagar, West Ahmedabad",South Indian₹ 900 for two approx.,₹ 900 for two approx.,15% Off + 25% Off
2,Essence4.5,4.5,"Crowne Plaza, Ahmedabad","Indian, North Indian₹ 2000 for two approx.",₹ 2000 for two approx.,20% Off + 25% Off
3,The Chocolate Room5.0,5.0,"Prahlad Nagar, West Ahmedabad | View All(22) ...",Bakery₹ 500 for two approx.,₹ 500 for two approx.,35% Off + 25% Off
4,Sphere Lounge4.2,4.2,"Hotel Ramada, Ahmedabad","Indian, Continental₹ 900 for two approx.",₹ 900 for two approx.,10% Off + 25% Off
...,...,...,...,...,...,...
670,Kanak4.5,4.5,Trident Hyderabad,Indian₹ 4500 for two approx.,₹ 4500 for two approx.,25% Off + 25% Off
671,Connect1.0,1.0,"Jubilee Hills, Hyderabad",Multicuisine₹ 1200 for two approx.,₹ 1200 for two approx.,15% Off + 25% Off
672,The Library Bar4.0,4.0,The Leela Hyderabad,"Finger Food, Cocktail Menu₹ 3500 for two approx.",₹ 3500 for two approx.,25% Off :Payeazy
673,Solcito 4.0,4.0,The Leela Hyderabad,Multicuisine₹ 5000 for two approx.,₹ 5000 for two approx.,25% Off :Payeazy
674,The Foodstories Cafe4.0,4.0,"Banjara Hills, Hyderabad",European₹ 1500 for two approx.,₹ 1500 for two approx.,25% Off :Payeazy

In [9]:
df.to_csv('easydinner_data.csv', index=False)