In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import re

In [2]:
df = pd.read_csv('easydinner_data.csv')

In [30]:
df.head()

,NAME,RATING,ADDRESS,CITY,DISHES,APPROX_PRICE,DISCOUNTS
0,Bella Aroma,4.6,Crowne Plaza,Ahmedabad,Cafe.,700,55
1,South Leaf - The Food Chain,4.4,Prahlad Nagar,Ahmedabad,South Indian.,900,40
2,Essence,4.5,Crowne Plaza,Ahmedabad,"Indian, North Indian.",2000,45
3,The Chocolate Room,5.0,Prahlad Nagar,Ahmedabad,Bakery.,500,60
4,Sphere Lounge,4.2,Hotel Ramada,Ahmedabad,"Indian, Continental.",900,35

In [4]:
df['AREA'] = df['AREA'].str.replace('\xa0 \| View All\(\d+\) Outlets', '', regex=True)

In [5]:
df

,NAME,RATING,AREA,DISHES,APPROX,DISC
0,Bella Aroma4.6,4.6,"Crowne Plaza, Ahmedabad",Cafe₹ 700 for two approx.,₹ 700 for two approx.,30% Off + 25% Off
1,South Leaf - The Food Chain4.4,4.4,"Prahlad Nagar, West Ahmedabad",South Indian₹ 900 for two approx.,₹ 900 for two approx.,15% Off + 25% Off
2,Essence4.5,4.5,"Crowne Plaza, Ahmedabad","Indian, North Indian₹ 2000 for two approx.",₹ 2000 for two approx.,20% Off + 25% Off
3,The Chocolate Room5.0,5.0,"Prahlad Nagar, West Ahmedabad",Bakery₹ 500 for two approx.,₹ 500 for two approx.,35% Off + 25% Off
4,Sphere Lounge4.2,4.2,"Hotel Ramada, Ahmedabad","Indian, Continental₹ 900 for two approx.",₹ 900 for two approx.,10% Off + 25% Off
...,...,...,...,...,...,...
670,Kanak4.5,4.5,Trident Hyderabad,Indian₹ 4500 for two approx.,₹ 4500 for two approx.,25% Off + 25% Off
671,Connect1.0,1.0,"Jubilee Hills, Hyderabad",Multicuisine₹ 1200 for two approx.,₹ 1200 for two approx.,15% Off + 25% Off
672,The Library Bar4.0,4.0,The Leela Hyderabad,"Finger Food, Cocktail Menu₹ 3500 for two approx.",₹ 3500 for two approx.,25% Off :Payeazy
673,Solcito 4.0,4.0,The Leela Hyderabad,Multicuisine₹ 5000 for two approx.,₹ 5000 for two approx.,25% Off :Payeazy
674,The Foodstories Cafe4.0,4.0,"Banjara Hills, Hyderabad",European₹ 1500 for two approx.,₹ 1500 for two approx.,25% Off :Payeazy

In [6]:
df['DISHES'] = df['DISHES'].str.replace('\₹\s(\d*)\sfor two approx', '', regex=True)

In [7]:
df

,NAME,RATING,AREA,DISHES,APPROX,DISC
0,Bella Aroma4.6,4.6,"Crowne Plaza, Ahmedabad",Cafe.,₹ 700 for two approx.,30% Off + 25% Off
1,South Leaf - The Food Chain4.4,4.4,"Prahlad Nagar, West Ahmedabad",South Indian.,₹ 900 for two approx.,15% Off + 25% Off
2,Essence4.5,4.5,"Crowne Plaza, Ahmedabad","Indian, North Indian.",₹ 2000 for two approx.,20% Off + 25% Off
3,The Chocolate Room5.0,5.0,"Prahlad Nagar, West Ahmedabad",Bakery.,₹ 500 for two approx.,35% Off + 25% Off
4,Sphere Lounge4.2,4.2,"Hotel Ramada, Ahmedabad","Indian, Continental.",₹ 900 for two approx.,10% Off + 25% Off
...,...,...,...,...,...,...
670,Kanak4.5,4.5,Trident Hyderabad,Indian.,₹ 4500 for two approx.,25% Off + 25% Off
671,Connect1.0,1.0,"Jubilee Hills, Hyderabad",Multicuisine.,₹ 1200 for two approx.,15% Off + 25% Off
672,The Library Bar4.0,4.0,The Leela Hyderabad,"Finger Food, Cocktail Menu.",₹ 3500 for two approx.,25% Off :Payeazy
673,Solcito 4.0,4.0,The Leela Hyderabad,Multicuisine.,₹ 5000 for two approx.,25% Off :Payeazy
674,The Foodstories Cafe4.0,4.0,"Banjara Hills, Hyderabad",European.,₹ 1500 for two approx.,25% Off :Payeazy

In [8]:
df['APPROX'] = df['APPROX'].str.replace('\D', '', regex=True)

In [9]:
df

,NAME,RATING,AREA,DISHES,APPROX,DISC
0,Bella Aroma4.6,4.6,"Crowne Plaza, Ahmedabad",Cafe.,700,30% Off + 25% Off
1,South Leaf - The Food Chain4.4,4.4,"Prahlad Nagar, West Ahmedabad",South Indian.,900,15% Off + 25% Off
2,Essence4.5,4.5,"Crowne Plaza, Ahmedabad","Indian, North Indian.",2000,20% Off + 25% Off
3,The Chocolate Room5.0,5.0,"Prahlad Nagar, West Ahmedabad",Bakery.,500,35% Off + 25% Off
4,Sphere Lounge4.2,4.2,"Hotel Ramada, Ahmedabad","Indian, Continental.",900,10% Off + 25% Off
...,...,...,...,...,...,...
670,Kanak4.5,4.5,Trident Hyderabad,Indian.,4500,25% Off + 25% Off
671,Connect1.0,1.0,"Jubilee Hills, Hyderabad",Multicuisine.,1200,15% Off + 25% Off
672,The Library Bar4.0,4.0,The Leela Hyderabad,"Finger Food, Cocktail Menu.",3500,25% Off :Payeazy
673,Solcito 4.0,4.0,The Leela Hyderabad,Multicuisine.,5000,25% Off :Payeazy
674,The Foodstories Cafe4.0,4.0,"Banjara Hills, Hyderabad",European.,1500,25% Off :Payeazy

In [10]:
def extract_discounts(offer):
    return re.findall(r'(\d+)%', str(offer))

df['DISCOUNTS'] = df['DISC'].apply(extract_discounts)
df['DISCOUNTS'].apply(pd.Series)

      0    1
0    30   25
1    15   25
2    20   25
3    35   25
4    10   25
..   ..  ...
670  25   25
671  15   25
672  25  NaN
673  25  NaN
674  25  NaN

[675 rows x 2 columns]

In [11]:
df['DISCOUNTS'] = df['DISCOUNTS'].apply(lambda x: sum(map(int, x)) if isinstance(x, list) else 0)
df['DISCOUNTS'].head()

0    55
1    40
2    45
3    60
4    35
Name: DISCOUNTS, dtype: int64

In [12]:
df.isnull().sum()

NAME         0
RATING       0
AREA         0
DISHES       0
APPROX       0
DISC         0
DISCOUNTS    0
dtype: int64

In [13]:
df

,NAME,RATING,AREA,DISHES,APPROX,DISC,DISCOUNTS
0,Bella Aroma4.6,4.6,"Crowne Plaza, Ahmedabad",Cafe.,700,30% Off + 25% Off,55
1,South Leaf - The Food Chain4.4,4.4,"Prahlad Nagar, West Ahmedabad",South Indian.,900,15% Off + 25% Off,40
2,Essence4.5,4.5,"Crowne Plaza, Ahmedabad","Indian, North Indian.",2000,20% Off + 25% Off,45
3,The Chocolate Room5.0,5.0,"Prahlad Nagar, West Ahmedabad",Bakery.,500,35% Off + 25% Off,60
4,Sphere Lounge4.2,4.2,"Hotel Ramada, Ahmedabad","Indian, Continental.",900,10% Off + 25% Off,35
...,...,...,...,...,...,...,...
670,Kanak4.5,4.5,Trident Hyderabad,Indian.,4500,25% Off + 25% Off,50
671,Connect1.0,1.0,"Jubilee Hills, Hyderabad",Multicuisine.,1200,15% Off + 25% Off,40
672,The Library Bar4.0,4.0,The Leela Hyderabad,"Finger Food, Cocktail Menu.",3500,25% Off :Payeazy,25
673,Solcito 4.0,4.0,The Leela Hyderabad,Multicuisine.,5000,25% Off :Payeazy,25
674,The Foodstories Cafe4.0,4.0,"Banjara Hills, Hyderabad",European.,1500,25% Off :Payeazy,25

In [15]:
# df = df.drop(columns=['Discounts'])

In [16]:
df

,NAME,RATING,AREA,DISHES,APPROX,DISC,DISCOUNTS
0,Bella Aroma4.6,4.6,"Crowne Plaza, Ahmedabad",Cafe.,700,30% Off + 25% Off,55
1,South Leaf - The Food Chain4.4,4.4,"Prahlad Nagar, West Ahmedabad",South Indian.,900,15% Off + 25% Off,40
2,Essence4.5,4.5,"Crowne Plaza, Ahmedabad","Indian, North Indian.",2000,20% Off + 25% Off,45
3,The Chocolate Room5.0,5.0,"Prahlad Nagar, West Ahmedabad",Bakery.,500,35% Off + 25% Off,60
4,Sphere Lounge4.2,4.2,"Hotel Ramada, Ahmedabad","Indian, Continental.",900,10% Off + 25% Off,35
...,...,...,...,...,...,...,...
670,Kanak4.5,4.5,Trident Hyderabad,Indian.,4500,25% Off + 25% Off,50
671,Connect1.0,1.0,"Jubilee Hills, Hyderabad",Multicuisine.,1200,15% Off + 25% Off,40
672,The Library Bar4.0,4.0,The Leela Hyderabad,"Finger Food, Cocktail Menu.",3500,25% Off :Payeazy,25
673,Solcito 4.0,4.0,The Leela Hyderabad,Multicuisine.,5000,25% Off :Payeazy,25
674,The Foodstories Cafe4.0,4.0,"Banjara Hills, Hyderabad",European.,1500,25% Off :Payeazy,25

In [17]:
df['NAME'] = df['NAME'].str[:-3]

In [18]:
df

,NAME,RATING,AREA,DISHES,APPROX,DISC,DISCOUNTS
0,Bella Aroma,4.6,"Crowne Plaza, Ahmedabad",Cafe.,700,30% Off + 25% Off,55
1,South Leaf - The Food Chain,4.4,"Prahlad Nagar, West Ahmedabad",South Indian.,900,15% Off + 25% Off,40
2,Essence,4.5,"Crowne Plaza, Ahmedabad","Indian, North Indian.",2000,20% Off + 25% Off,45
3,The Chocolate Room,5.0,"Prahlad Nagar, West Ahmedabad",Bakery.,500,35% Off + 25% Off,60
4,Sphere Lounge,4.2,"Hotel Ramada, Ahmedabad","Indian, Continental.",900,10% Off + 25% Off,35
...,...,...,...,...,...,...,...
670,Kanak,4.5,Trident Hyderabad,Indian.,4500,25% Off + 25% Off,50
671,Connect,1.0,"Jubilee Hills, Hyderabad",Multicuisine.,1200,15% Off + 25% Off,40
672,The Library Bar,4.0,The Leela Hyderabad,"Finger Food, Cocktail Menu.",3500,25% Off :Payeazy,25
673,Solcito,4.0,The Leela Hyderabad,Multicuisine.,5000,25% Off :Payeazy,25
674,The Foodstories Cafe,4.0,"Banjara Hills, Hyderabad",European.,1500,25% Off :Payeazy,25

In [19]:
locations = ['Ahmedabad', 'Mumbai', 'Pune', 'Bengaluru','Hyderabad']
loc = np.repeat(locations, 135)
df['LOCATION'] = loc

In [20]:
df.iloc[:137,:]

,NAME,RATING,AREA,DISHES,APPROX,DISC,DISCOUNTS,LOCATION
0,Bella Aroma,4.6,"Crowne Plaza, Ahmedabad",Cafe.,700,30% Off + 25% Off,55,Ahmedabad
1,South Leaf - The Food Chain,4.4,"Prahlad Nagar, West Ahmedabad",South Indian.,900,15% Off + 25% Off,40,Ahmedabad
2,Essence,4.5,"Crowne Plaza, Ahmedabad","Indian, North Indian.",2000,20% Off + 25% Off,45,Ahmedabad
3,The Chocolate Room,5.0,"Prahlad Nagar, West Ahmedabad",Bakery.,500,35% Off + 25% Off,60,Ahmedabad
4,Sphere Lounge,4.2,"Hotel Ramada, Ahmedabad","Indian, Continental.",900,10% Off + 25% Off,35,Ahmedabad
...,...,...,...,...,...,...,...,...
132,Pol 21,4.2,"Thaltej, West Ahmedabad","Chinese, Indian.",1200,50% Off + 25% Off,75,Ahmedabad
133,Sankalp,4.3,"Sola, West Ahmedabad",South Indian.,600,15% Off + 25% Off,40,Ahmedabad
134,Beeji Punjabi Restaurant & Banquets,5.0,"Naroda, East Ahmedabad","North Indian, Asian.",1000,25% Off + 25% Off,50,Ahmedabad
135,Cray Craft,4.4,"Andheri East, Western Suburbs","Chinese, Indian.",2000,25% Off,25,Mumbai
136,Kitty Su,2.3,"The Lalit, Mumbai","Drinks Only, Finger Food, Cocktail Menu.",2000,25% Off,25,Mumbai

In [21]:
df[['AREA', 'City']] = df['AREA'].str.split(',', n=1, expand=True)

df = df.drop(columns=['City'])

In [22]:
df

,NAME,RATING,AREA,DISHES,APPROX,DISC,DISCOUNTS,LOCATION
0,Bella Aroma,4.6,Crowne Plaza,Cafe.,700,30% Off + 25% Off,55,Ahmedabad
1,South Leaf - The Food Chain,4.4,Prahlad Nagar,South Indian.,900,15% Off + 25% Off,40,Ahmedabad
2,Essence,4.5,Crowne Plaza,"Indian, North Indian.",2000,20% Off + 25% Off,45,Ahmedabad
3,The Chocolate Room,5.0,Prahlad Nagar,Bakery.,500,35% Off + 25% Off,60,Ahmedabad
4,Sphere Lounge,4.2,Hotel Ramada,"Indian, Continental.",900,10% Off + 25% Off,35,Ahmedabad
...,...,...,...,...,...,...,...,...
670,Kanak,4.5,Trident Hyderabad,Indian.,4500,25% Off + 25% Off,50,Hyderabad
671,Connect,1.0,Jubilee Hills,Multicuisine.,1200,15% Off + 25% Off,40,Hyderabad
672,The Library Bar,4.0,The Leela Hyderabad,"Finger Food, Cocktail Menu.",3500,25% Off :Payeazy,25,Hyderabad
673,Solcito,4.0,The Leela Hyderabad,Multicuisine.,5000,25% Off :Payeazy,25,Hyderabad
674,The Foodstories Cafe,4.0,Banjara Hills,European.,1500,25% Off :Payeazy,25,Hyderabad

In [23]:
df = df.rename(columns={'AREA':'ADDRESS', 'APPROX':'APPROX_PRICE','LOCATION':'CITY'})

In [24]:
final_cols = [
    'NAME',
    'RATING',
    'ADDRESS', 
    'CITY', 
    'DISHES', 
    'APPROX_PRICE', 
    'DISCOUNTS'
]
df = df[final_cols]

In [25]:
df.isnull().sum()

NAME            0
RATING          0
ADDRESS         0
CITY            0
DISHES          0
APPROX_PRICE    0
DISCOUNTS       0
dtype: int64

In [26]:
df.duplicated().sum()

0

In [27]:
df.shape

(675, 7)

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 675 entries, 0 to 674
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   NAME          675 non-null    object
 1   RATING        675 non-null    float64
 2   ADDRESS       675 non-null    object
 3   CITY          675 non-null    object
 4   DISHES        675 non-null    object
 5   APPROX_PRICE  675 non-null    object
 6   DISCOUNTS     675 non-null    int64
dtypes: float64(1), int64(1), object(5)
memory usage: 37.0+ KB

In [29]:
df.to_csv('ED_cleandata.csv', index=False)